fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
pandas>=2.0.0
numpy<2.0.0
scikit-learn
xgboost
shap
joblib
pydantic
pydantic-settings
websockets
scapy
